
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "nav header"
      "nav content"
      "nav footer";
    grid-template-columns: 15% 85%;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100%;
  }
  
  .nav {
    grid-area: nav;
    background-color: #d4e6d5;
    padding: 10px;
    
  }
  
  .header {
    grid-area: header;
    background-color: #a8d45e;
    padding: 10px;
    height: 60px;
  }
  
  .content {
    grid-area: content;
    display: flex; /* Use flexbox for content layout */
    flex-direction: row; /* Align items in a row */
    align-items: stretch; /* Ensure both items have the same height */
    grid-template-areas: "nav article aside ";
    grid-template-columns: 15% 70% 15%;
    
  
  }
  .article {
    flex: 3; /* Article takes 3 parts of the available space */
    background-color:white;
    align-items: stretch;
  }
  
  .aside {
    flex: 1; /* Aside takes 1 part of the available space */
    background-color: #f6f1ce; 
    align-items: stretch;
    
  }

  .footer {
    grid-area: footer;
    background-color: #a8d45e;
    padding: 10px;
    height: 60px;
  }
  
  