
/*--Styling--*/ 

*{
    font-family: 'Times New Roman', Times, serif;
}

@page {
     size: A4; 
     margin: 10mm; 
     
     }

.introduction{
        display: flex;
        align-items: flex-start;
        
     }

.education-1{
    margin: 0;
    padding: 0;
}

*{
    line-height:normal;
}

.intership-1{
    display: flex;
    align-items:flex-start;
     background-color: rgb(27, 196, 170);

}

.intership-2{
    display: flex;
    align-items:flex-start;
}

.intership-3{
    display: flex;
    align-items:flex-start;
}

.project-1{
    display: flex;
    align-items: flex-start;
}

.project-2{
    display: flex;
    align-items: flex-start;

}

.training{
    display: flex;
    align-items: flex-start;
}

p{
    margin: 0;
}

h3{
    margin: 0;
}

*{
    background-color: lightblue;
    color:brown;
}
